In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  difficultyBreathing  infectionProbablity
0     98         1   67          1                    0                    1
1    100         0   35          0                    0                    0
2     99         1   41          0                    1                    0
3    104         1   66          1                   -1                    1
4    104         0    5          0                    0                    1

In [4]:
df.tail()

,fever,bodyPain,age,runnyNose,difficultyBreathing,infectionProbablity
1995,104,1,65,0,-1,1
1996,99,0,75,1,1,0
1997,98,1,1,1,0,1
1998,102,1,54,1,0,0
1999,103,0,88,1,1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fever                2000 non-null   int64
 1   bodyPain             2000 non-null   int64
 2   age                  2000 non-null   int64
 3   runnyNose            2000 non-null   int64
 4   difficultyBreathing  2000 non-null   int64
 5   infectionProbablity  2000 non-null   int64
dtypes: int64(6)
memory usage: 93.9 KB

In [6]:
df['difficultyBreathing'].value_counts()

 0    701
-1    652
 1    647
Name: difficultyBreathing, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,difficultyBreathing,infectionProbablity
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,100.542000,0.511000,50.046000,0.513000,-0.002500,0.485500
std,2.309524,0.500004,28.425339,0.499956,0.806113,0.499915
min,97.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.000000,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,101.000000,1.000000,50.000000,1.000000,0.000000,0.000000
75%,103.000000,1.000000,74.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[ : test_set_size]
    train_indices = shuffled[test_set_size : ]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([2, 4, 1, 3, 6, 0, 5])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

,fever,bodyPain,age,runnyNose,difficultyBreathing,infectionProbablity
968,97,0,14,1,1,0
240,97,1,83,1,-1,1
819,99,0,5,1,-1,0
692,99,0,45,1,1,1
420,99,1,68,1,0,0
...,...,...,...,...,...,...
1130,102,0,98,0,1,0
1294,98,0,54,1,1,1
860,98,1,51,1,0,1
1459,101,0,28,1,0,0
1126,103,1,20,1,0,1

In [13]:
test

,fever,bodyPain,age,runnyNose,difficultyBreathing,infectionProbablity
1860,103,1,99,1,1,0
353,100,1,54,0,0,0
1333,97,0,83,0,0,1
905,103,0,60,1,1,0
1289,97,1,83,0,1,1
...,...,...,...,...,...,...
965,99,1,40,1,0,1
1284,101,0,1,1,1,1
1739,98,1,41,0,1,0
261,100,1,73,1,0,0
535,101,1,83,0,0,1

In [14]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'difficultyBreathing']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'difficultyBreathing']].to_numpy()

In [15]:
Y_train = train[['infectionProbablity']].to_numpy().reshape(1600 ,)
Y_test = test[['infectionProbablity']].to_numpy().reshape(400 ,)

In [16]:
Y_train

array([0, 1, 0, ..., 1, 0, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [23]:
infectionProbablity = clf.predict_proba([[104, 1, 22, 1, 1]])[0][1]

In [24]:
infectionProbablity

0.4781161024189366